<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/global.css">
    <title>Home</title>
</head>

<body>
    <main>
    <h1>Connexion :</h1>
    <form action="/log-in" method="post">
        <table>
            <tr>
                <td>
                    Adresse mail :
                </td>
                <td>
                    <input type="text" name="mail">
                </td>
            </tr>
            <tr>
                <td>
                    Mot de passe :
                </td>
                <td>
                    <input type="password" name="pwd">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Se connecter">
                </td>
                <td>
                    <input type="reset" value="Annuler">
                </td>
            </tr>
        </table>
        <div><a href="/signin">Créer un compte</a></div>
    </form>
</main>
</body>

</html>